In [36]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Scraping the list of postal code

In [37]:
List_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(List_url).text

In [38]:
soup = BeautifulSoup(source, 'xml')

In [39]:
table=soup.find('table')

In [40]:
#dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)

In [41]:
# Search all the postcode, borough, neighborhood 
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [35]:
df[df['Neighborhood'].eq('Not assigned') & df['Borough'].eq('Not assigned')].head()

Empty DataFrame
Columns: [Postalcode, Borough, Neighborhood]
Index: []

In [42]:
df.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

Removing rows without assigned Borough

In [43]:
df=df[df['Borough']!='Not assigned']

In [44]:
df.head()

  Postalcode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Replacing borough with neighbourhood, if it has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [45]:
df[df['Neighborhood']=='Not assigned']['Neighborhood']=df['Borough']

In [46]:
df.head()

  Postalcode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [48]:
df.shape

(103, 3)